.main {
  background: url(/img/test2.jpg);
  background-size: cover;
}

section {
  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .home-content-text {
    font-size: 60px;
    color: white;
    padding: 20px;
    z-index: 1;
  }
  .home-content-img {
    position: absolute;
    margin-bottom: 440px;
    animation: loadimg 3s ease forwards;
    opacity: 0;
    img {
      width: 340px;
    }
  }
}

@keyframes loadimg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
