nav {
  animation: loadnav 1s ease forwards;
  transform: translateY(-60px);
  ul {
    display: flex;
    justify-content: center;

    li {
      padding: 30px 10px;
      color: rgb(255, 255, 255);
      font-size: 25px;
      letter-spacing: 1px;
    }
  }
}

@keyframes loadnav {
  from {
    transform: translateY(-60px);
  }

  to {
    transform: translateY(0px);
  }
}
